<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 암묵적 권한 -->
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- permission_handler.bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 요청 권한 -->
    <!-- permission_handler.camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- permission_handler.contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- permission_handler.microphone or permission_handler.speech -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- permission_handler.phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- permission_handler.sensors -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <!-- permission_handler.sensorsAlways -->
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

    <!-- permission_handler.sms -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />

    <!-- permission_handler.locationWhenInUse -->
    <!-- 주의 : 현재 플러터 권한 라이브러리는 ACCESS_COARSE_LOCATION 하나만 사용하던지,
    ACCESS_FINE_LOCATION 와 ACCESS_COARSE_LOCATION 를 동시에 설정하던지 2개 중 하나를 택해야합니다.
     ACCESS_FINE_LOCATION 를 설정한 경우에는 유저가 fine location 동의를 안한 경우
      coarse location 을 동의했어도 둘다 동의하지 않은 것으로 나옵니다.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- permission_handler.locationAlways -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- permission_handler.storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- permission_handler.photos -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- permission_handler.videos -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- permission_handler.audio -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- permission_handler.manageExternalStorage -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- permission_handler.accessMediaLocation  -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <!-- permission_handler.ignoreBatteryOptimizations -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- permission_handler.activityRecognition -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- permission_handler.systemAlertWindows -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- permission_handler.requestInstallPackages -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- permission_handler.accessNotificationPolicy -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- permission_handler.nearbyWifiDevices -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <!-- permission_handler.scheduleExactAlarm -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- permission_handler.notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- permission_handler.calendar -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- permission_handler.bluetoothScan -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- permission_handler.bluetoothAdvertise -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- permission_handler.bluetoothConnect -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="flutter_template"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
