<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Template</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_template</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

    <!-- 네트워크 요청 권한 -->
	<key>com.apple.security.network.client</key>
    <true/>
    <!-- MacOS 파일 선택 권한 -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    <key>com.apple.security.files.bookmarks.app-scope</key>
    <true/>

    <!-- 권한 리스트 -->
    <!-- permission_handler.camera -->
    <key>NSCameraUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- permission_handler.contacts -->
    <key>NSContactsUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- permission_handler.mediaLibrary -->
    <key>NSAppleMusicUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>
    <key>kTCCServiceMediaLibrary</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- permission_handler.microphone -->
    <key>NSMicrophoneUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- permission_handler.reminder -->
    <key>NSRemindersUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- permission_handler.sensors -->
    <key>NSMotionUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- permission_handler.speech -->
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

    <!-- Permission options for the `location` group -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>
    <key>NSLocationUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>애플 심사 및 고객 설명을 위해 권한 필요 이유 설명하기</string>

</dict>
</plist>
